.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-padding: 4 6 4 6;
}

.button {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 6 12 6 12;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #45a049;
}
